# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\School\Jaar 2\Blok 2\Eindopdracht_Java II_voor_Bio-Informatica_2021_DHildebrand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
